 @import url(); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  body {
    background-color: #6F4E37;
  }
  .header_hero{
    background-color: #6F4E37;
  }
  .nav{
    position: sticky;
    top: 0; 
    background-color: #6F4E37; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1000; 
  }
  .nav ul{ 
    display: flex;
  }
  .menu{
    margin-right: -600px; 
  }
  .logo {
    margin-left: 1px; 
  }
  
  .nav ul li{
    margin: 20px; 
   
  }
  .nav ul li a{
    font-size: 20px;
    color:#C19A6B;
    transition: 0.6s;
    
  }
  .nav ul li a:hover{
    color:bisque
  }
  .bars{
    display: none; 
  } 
  .bars i{
    font-size: 30px;
    cursor: pointer;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 100px 8%;
  }
  .header_info{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    width: 60%;
  }
  h1,p{
    color: #EADDCA;
  }
  h1{
    font-size: 40px;
  }
  .header_info p{
    width: 80%
  }
  .btns:hover{
    background-color: #C19A6B;
    border: 1px solid #C19A6B;
    font-weight: 500
  }
.btns:hover i{
  background-color: #C19A6B !important;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 420px;
}
.header_img :nth-child(2){
  width: 120%;
  position: absolute;
}